header {
    display: flex;
    background-color: bisque;
}

.headr-logo {
    font-style: italic;
    font-size: 50px;
    margin: auto;
}

.header-wrap {
    height: 100px;
    width: 100%;
    display: flex;
}

.btn-cart {
    display: block;
    margin: 30px;
    width: 150px;
    height: 30px;
    text-decoration: none;
    color: #a675b3;
    line-height: 20px;
}

.products {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.product-item {
    outline: 3px solid black;
}

.product_item_title {
    text-align: center;
    font-size: 20px;
}
.product_item_price {
    text-align: center;
    font-size: 20px;
}

.buy-btn {
    display: block;
    margin: 20px auto;
    width: 150px;
    height: 30px;
    text-decoration: none;
    color: #a675b3;
    text-align: center;
    line-height: 20px;
}

.buy-btn:hover{
    transform: scale(1.1);
}
